:root {
  --clr-background-header: #39433e;
  --clr-background-main: rgb(230, 230, 230);
  --clr-white: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
}

.tooltip-container {
  display: grid;
}

.nav-bar {
  background-color: var(--clr-background-header);
}

.route-container {
  margin: auto;
}

#page-container {
  width: 100vw;
  display: grid;
  margin: auto;
  background-color: var(--clr-background-main);
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-background-main);
  height: calc(100vh - 56px); 

}

.main-content.main {
  flex-direction: column;
  align-items: center;
}

.header-container {
  position:absolute;
  display: flex;
  left: 0;
}

.header-span {
  display: flex;
  grid-area: 1/1/1/1;
  width: 100vw;
  height: fit-content;
}

.span-left {
  background-color: var(--clr-background-header);
  color: var(--clr-white);
  width:100vw;
}

.span-right {
  height: 60px;
  width:100vw;
}

.content-header {
  position: relative;
  align-self: flex-start;
  left: 0;
  right: 0;
  padding: 6px 12px;
  background-color: var(--clr-background-header);
  color: var(--clr-white);
  border-bottom-right-radius: 10px;
  margin-right: auto;
}

#outer-container {
  grid-area: 1/1/1/1;
}

.header {
  background-color: var(--clr-background-header);
  color: var(--clr-white);
  border-right-color: var(--clr-background-header);
}

.tool-tip {
  position: absolute;
}

/* Home */
.img-home {
  max-width: 350px;
}

.form-view {
  width: 20em;
}

.form-control:focus {
  border-color: var(--bs-body-color);
}

.card {
  background-color: var(--clr-white);
  box-shadow: 8px 8px 16px var(--bs-body-color);
  position: absolute;
}

.card.form-view {
position: absolute;
}

.form-label {
  margin-bottom: 0 0 4px;
}

.balance-display {
  display: flex;
  justify-content: space-between;
}

.error-text {
  font-size: .9em;
  color: red;
}

.btn-container {
  text-align: center;
  margin-top: 4px;
}

.table-container {
  position: absolute;
  width: 648px;
}