* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8e4a8;
  height: calc(100vh - 56px);
}

.content-header {
  align-self: flex-start;
  margin-right: auto;
  padding: 6px 12px;
}


.form-view {
  width: 20em;
}

.card.form-view {
position: absolute;
}
.form-section {
  /* margin: 26px 0; */
}

.form-label {
  margin-bottom: 0 0 4px;
}

.balance-display {
  display: flex;
  justify-content: space-between;
}

.error-field {
  /* border-danger */
  border-color: red;
}


.error-text {
  font-size: .9em;
  color: red;
}

.btn-container {
  text-align: center;
  margin-top: 4px;
}

.table-container {

  width: 648px;
}